* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    margin: 0;
}

header {
    background-color: #F3D9DC;
    text-align: center;
}

nav {
    display: block;
    flex: 1;
    justify-content: space-evenly;
    background-color: #F3D9DC;
    border-top: 1px #2C0D0F solid;
    border-bottom: 1px #2C0D0F solid;
    font-family:'Times New Roman', Times, serif;
}

nav a {
    display: block;
    line-height: 2em;
    color: #2C0D0F;
    width: 95%;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
}

nav a:hover {
    background-color: #2C0D0F;
    color: white;
}

footer {
    border-top: 1px #2C0D0F solid;
    background-color: #F3D9DC;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2C0D0F;
    line-height: 0.2em;
    margin-bottom: 0;
    padding-bottom: 2%;
}

#socialMedia {
    padding-top: 0.5%;
}
#socialMedia a {
    color: #2C0D0F;
    font-size: 1.8em;
}

#copyright{
    font-size: 1.2em;
}

#copyright a {
    text-decoration: none;
    color: #2C0D0F;
}

aside {
    margin: 0 2%;
    text-align: center;
}


aside ul li {
    list-style-type: none;
    line-height: 2.5em;
    background-color: #2C0D0F;
    margin: 7% auto;
}

aside ul li a{
    text-decoration: none;
    color: white;
}

.home {
    margin: 1% 1%;
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home:hover {
    opacity: 1;
}

.home p{
    visibility: hidden;
    font-size: 3em;
    color: white;
}

.home:hover p{
    visibility: visible;
}

#personal-page {
    background-image: url("../media/img/personal.jpeg");
    background-position: center;
    background-size: cover;
}

#work-page {
    background-image: url("../media/img/toys.jpeg");
    background-position: center;
    background-size: cover;
}

#travel-page {
    background-image: url("../media/img/viaje3.jpeg");
    background-position: center;
    background-size: cover;
}

#contact-div{
    background-image: url("../media/img/family.png");
    background-position: center;
    background-size: cover;
}

#logo {
    visibility: hidden;
}

.title-tag {
    margin-right: 2%;
}

@media (min-width: 768px){
    nav {
        display: flex;
        flex: 1;
        justify-content: space-evenly;
    }

    #logo {
        visibility: visible;
        margin-left: 3%;
    }


}


@media (min-width: 1127px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px; 
        background-color: #F3D9DC; 
        border-bottom: 1px #2C0D0F solid;
    }


    nav {
        gap: 20px; 
        border: none;
    }

    #logo img {
        max-width: 100%;
        height: auto;
    }

    nav a {
        background-color: #2C0D0F;
        color: white;
        border-radius: 0.5em;
    }

    nav a:hover {
        color: #2C0D0F;
        border: 1px #2C0D0F solid;
        background-color: #F3D9DC;
    }
    
    aside {
        float: right;
        width: 30%;
        border-left: 1px #2C0D0F solid;
        padding: 0 2%;
    }

    section {
        width: 65%;
    }

    .home {
        width: 45%;
        height: 50vh;
        float: left;
        border: 1px #2C0D0F solid;
        border-radius: 1em;
    }

    footer {
        clear: both;
    }

}